h1{text-align: center}
h1 {
    width:100%;
margin-bottom:     20px;
    margin-top: 30px;
}
h1 {
    color: aqua;
}
p {
    color: black;
}
.Recarga_Aqui {
    color: red;
}

.prod_especial {
    color: green;
}
a {
    text-decoration: none;
    margin: 100px;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}
a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: green;
    text-transform: uppercase;
}

a:active {
    color: red;
}
table {
 text-align: center
}
table{
    color: green;
}
th {
    color: black;
}